.sports-menu-bar {
  width: 100%;
  height: 5vh;
  // background: rgb(237, 237, 237);
  background: rgb(255, 226, 112);
  display: flex;
  justify-content: space-between;

  .sports-menu-bar-logo {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;

    .sports-logo {
      width: 100%;
      height: 80%;
      color: rgb(194, 194, 194);
    }
  }

  .sports-menu-bar-title {
    // width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-left: 3rem;
  }

  .sports-menus {
    // width: 20%;
    height: 100%;
    display: flex;
  }
}
